<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683929262487-tse6ldojp5jg38ehnm9fjar4ushus86h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683929262487-tse6ldojp5jg38ehnm9fjar4ushus86h</string>
	<key>API_KEY</key>
	<string>AIzaSyDDN0BZAXQ6a4sXs9NhEx07v2y_bSvCIXY</string>
	<key>GCM_SENDER_ID</key>
	<string>683929262487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hsjbilliard.hsjBilliardTablet</string>
	<key>PROJECT_ID</key>
	<string>hsj-billiard</string>
	<key>STORAGE_BUCKET</key>
	<string>hsj-billiard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683929262487:ios:de162319226295dd164cd2</string>
</dict>
</plist>